.App {
  display: grid;
  height: 2900px;
  text-align: center;
  grid-template-areas: "header" "header" "header" "header" "header" "header" "header" "header" "header" "header" "header" "header"
                       "main" "main" "main" "main" "main" "main" "main" "main" "main" "main" "main" "main"
                       "footer" "footer" "footer" "footer" "footer" "footer" "footer" "footer" "footer" "footer" "footer" "footer";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 19fr 4fr;
}

Header {
  grid-area: header;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Main {
  grid-area: main;
  background-color: aqua;
}